<div class="flex">
  <nav class="sidebar">
    <ul>
      <li>
        <a routerLink="/wholesalers/view-price">Просмотр прайсов</a>
      </li>
      <li>
        <a routerLink="/wholesalers/information-exchange">Обмен информацией</a>
      </li>
      <li><a routerLink="/wholesalers/dbf-editor">DBF редактор</a></li>
      <li>
        <a routerLink="/wholesalers/price-list-format">Формат прайс-листа</a>
      </li>
      <li>
        <a routerLink="/wholesalers/application-format">Формат заявки</a>
      </li>
      <li><a routerLink="/wholesalers/invoice-format">Формат накладной</a></li>
      <li>
        <a routerLink="/wholesalers/disclaimer-format">Формат отказов</a>
      </li>
      <li>
        <a routerLink="/wholesalers/promotion-discount-bonus"
          >Как отобразить акцию, уценку, бонусную программу</a
        >
      </li>
      <li>
        <a routerLink="/wholesalers/supplier-share-report"
          >Отчет по долям поставщиков</a
        >
      </li>
      <li>
        <a routerLink="/wholesalers/individual-reports"
          >Индивидуальные отчеты</a
        >
      </li>
    </ul>
  </nav>
  <section><router-outlet></router-outlet></section>
</div>
