<h1 class="h1">Контакты</h1>

<ul class="ulContacts">
  <li class="liContacts">
    <ul class="innerList">
      <li class="mb-[12px] flex justify-between">
        <strong>Общие данные:</strong>
      </li>
      <li class="flex justify-between">Пн. - Пт. с 08.00 по 19.00</li>
      <li class="flex justify-between">
        <p class="flex flex-col">
          <span>E-mail:</span>
          <a class="contactLink" href="mailto:office@sklit.org">
            office&#64;sklit.org</a
          >
        </p>
      </li>
    </ul>
  </li>
  <li class="liContacts">
    <ul class="innerList">
      <li class="mb-[12px]"><strong>Контакты регионов:</strong></li>
      <li class="flex justify-between">
        <span>г. Краснодар: </span>
        <a class="contactLink" href="tel:+78612980150">+7 (861) 298-01-50</a>
      </li>
      <li class="flex justify-between">
        <span>г. Ростов-на-Дону: </span>

        <a class="contactLink" href="tel:+78632484114">+7 (863) 248-41-14</a>
      </li>
      <li class="flex justify-between">
        <span>Республика Крым: </span>

        <a class="contactLink" href="tel:+79183326835">+7 (918) 332-68-35</a>
      </li>
    </ul>
  </li>

  <li class="liContacts">
    <ul class="innerList">
      <li class="mb-[12px] flex justify-between">
        <strong>Выходные и праздничные дни:</strong>
      </li>
      <li class="flex justify-between">с 08.00 по 19.00</li>
      <li class="flex justify-between">
        <a class="contactLink" href="tel:+79183326835">+7 (918) 332-68-35</a>
      </li>
    </ul>
  </li>
</ul>
