<h1 class="h1">Главная</h1>
<main>
  <p class="mb-[36px]">
    ООО «СКЛИТ» с 1997 года разрабатывает программное обеспечение для оптовых и
    розничных фармацевтических организаций. Каждый день в нашей программе
    размещают около 800 прайсов более 140 оптовых компаний Южного федерального
    округа. Ежедневно наши серверы обрабатывают более 51 млн. наименований.
    Аптеки круглосуточно имеют доступ к самой свежей и полной информации о
    предложении оптового звена фармрынка.
  </p>
  <h3 class="h3">Новые сертификаты для Честного знака</h3>

  <app-paragraph
    >Для установки нажимаем кнопку 'Открыть папку с сертификаиами' ниже.
    Откроется папка, в ней 4 сертификата. Необходимо установить все четыре по
    следующей инструкции (Выполнить 4 раза)</app-paragraph
  >
  <ul>
    <li>1) Два раза щелкаем на файле сертификата</li>
    <li>2) На вкладке Общее нажимаем кнопку 'Установить сертификат...'</li>
    <li>
      3) В следующем окошке нажимаем 'Далее' (по умолчанию выбран пункт 'текущий
      пользователь')
    </li>
    <li>4) В следующем окошке :</li>
    <li>- Переключаем 'Поместить все сертификаты в следующее хранилище'</li>
    <li>
      - Нажимаем 'Обзор' и выбираем второй пункт: 'Доверенные корневые центры
      сертификации'
    </li>
    <li>- Нажимаем 'ОК'</li>
    <li>- Нажимаем 'Далее'</li>
    <li>5) В следующем окошке нажимаем 'Готово'</li>
    <li>
      6) Может выскочить окошко с заголовком : 'Предупреждение системы
      безопасности' С вопросом 'Вы хотите установить этот сертификат?' -
      нажимаем 'ДА'
    </li>
    <li>7) Импорт успешно выполнен, нажимаем 'ОК'</li>
    <li>
      8) Сертификат установлен. Повторить инструкцию с первого пункта для
      оставшихся файлов
    </li>
  </ul>
</main>
